<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic + Juno + Google Auth </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-text color="primary">
        <h1 class="ion-padding">Ionic + Juno + Google Auth</h1>
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-auth>
      @if (user(); as user) { @if (isGoogleUser(user)) {
      <ion-text
        ><p>
          Welcome, {{ user.data?.providerData?.openid?.givenName ?? 'Anonymous'
          }} 👋
        </p></ion-text
      >
      } }
    </app-auth>
  </div>
</ion-content>
